ul {
  padding-left: 2rem;
  list-style: none;
}

.tree {
  width: 300px;
}

.treeitem:not([aria-owns]) + .treeitem-button {
  display: none;
}

/* .tree-radio {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  width: 4px !important;
  height: 4px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  visibility: visible !important;
} */

.tree-nav {
  width: 24px;
  height: 24px;
}

.tree-radio {
  padding: 8px 32px 8px 0;
  border: 0;
  background-color: transparent;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;
}
.tree-radio[aria-pressed="false"] {
  background-image: url("./radio-unchecked.png");
}

.tree-radio[aria-pressed="true"] {
  background-image: url("./radio-checked.png");
}
